<!DOCTYPE html>
{% load static %}
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="">
		<meta name="author" content="">
		<link rel="icon" href="{% static 'actas/favicon.png'%}">
	
		<title>IEEBC - SIVIAC</title>
		
		{% load django_bootstrap5 %}
		{% bootstrap_css %}
		{% bootstrap_javascript %}

		<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
		<link href="{% static 'actas/sidebar.css'%}" rel="stylesheet">
		<link href="{% static 'actas/base.css'%}" rel="stylesheet">
	</head>
	
	<body>
		<!------------- NavBar ---------->
		<nav class="navbar navbar-expand-md navbar-dark fixed-top sticky-top" style="background-color: #782484;">
			<div class="container-fluid">
				<ul class="nav navbar-nav">
					<li class="nav-item">
						<a class="navbar-brand" href="{% url 'home' %}">
							<img src="{% static 'actas/logo_iee.svg'%}" height="30" class="d-inline-block align-top" alt="">
						</a>
					</li>
				</ul>

				<ul class="nav navbar-nav mx-auto abs-center-x">
					<li class="nav-item">
						<a class="navbar-brand mx-auto" href="{% url 'home' %}">Exhibición Pública de la Documentación Electoral 2020-2021</a>
					</li>
				</ul>	
			</div>
		</nav>

		<div class="container-fluid">
			<div class="row flex-nowrap">
				<!------------- Sidebar ---------->
				{% block sidebarcontent %}
					{% include 'actas/sidebar_responsive.html' %}
				{% endblock %}
				
				<!------------- Main ---------->
				<div class="col-10 col-sm-11 col-md-9 col-lg-9 col-xl-10">
					<!------------- Mensajes ---------->
					{% if messages %}
						<div class="pt-3">
							{% bootstrap_messages %}
						</div>
					{% endif %}
				
					<!------------- Contenido ---------->
					{% block content %}
					{% endblock content %}  
				</div>
			</div>
		</div>
		
		<!-- /.main -->

		<!------------- Modal ---------->
		<div id="modaldiv"></div>
		
		<div id="loader">
			<div class="modal fade" data-bs-backdrop="static" id="loaderModal" tabindex="-1" role="dialog" aria-labelledby="nuevoModalLabel" aria-hidden="true">
				<div class="modal-dialog modal-dialog-centered modal-sm" role="document">
					<div class="modal-content">
						<div class="modal-body">
							<div class="text-center mb-5 mt-5">
								<div class="spinner-border" style="width: 5rem; height: 5rem;" role="status">
									<span class="visually-hidden">Loading...</span>
								</div>
								<br>
								<br>
								<div>
									<strong>Cargando...</strong>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!------------- Final Scripts ---------->
		<script src="https://cdn.jsdelivr.net/npm/feather-icons@4.28.0/dist/feather.min.js"></script>
		<script src="{% static 'actas/modals.js'%}" type="text/javascript"></script>

		<script>
			$(document).ready(function(){
				$('[data-toggle="tooltip"]').tooltip();   
			});
		</script>

	</body>
</html>