{% extends 'actas/base_sidebar.html' %}
{% load humanize %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}

{{ form.media }}

<!-- Encabezado -->
<script src="{% static 'actas/gubernatura.js'%}" type="text/javascript"></script>

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Actas de Gubernatura</h1>
</div>

<!-- FILTROS -->
<div class="border-bottom">
    <form action="{% url 'gubernatura' %}" id="filtro-empleados-form" method="post" autocomplete="off" class="row-fluid">
        {% csrf_token %}
        {% crispy form %}
    </form>
</div>
<br>

<div id="no-archive" class="text-center"><h2>Sin Acta</h2></div>
<iframe name="acta_frame" id="acta_frame" src="" width="100%" height="680px"></iframe>

{% endblock %}