{% extends 'actas/base_no_sidebar.html' %}

{% load crispy_forms_tags %}

{% block content %}
<div class="row justify-content-md-center">
    <div class="col-md-6">
        <div class="text-center">
            <h2>Exhibición Pública de la Documentación Electoral 2020-2021</h2>
        </div>
        <hr>
        <div>
            <form method="post" autocomplete="off">
                {% csrf_token %}
                {{ form|crispy }}                
                <button type="submit" id="submit" class="btn btn-secondary" style="background-color: #782484; border-color: #782484;">Iniciar Sesión</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}