{% extends 'actas/base_sidebar.html' %}
{% load humanize %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Scripts</h1>
</div>

<!-- Scripts -->
<div>
    <h4>Importar de SQLServer</h4>
    <a href="{% url 'scripts-tipos' %}"class="btn btn-danger">Importar Tipos Casilla</a>
    <a href="{% url 'scripts-secciones' %}"class="btn btn-danger">Importar Secciones</a>
    <a href="{% url 'scripts-casillas' %}"class="btn btn-danger">Importar Casillas</a>
</div>

{% endblock %}