{% load static %}

<div class="col-2 col-sm-1 col-md-3 col-lg-3 col-xl-2 bg-light sidebar">
    <div class="d-flex flex-column align-items-center align-items-md-start px-3 pt-3 text-white sidebar-max">
        
        <div class="dropdown pb-3 mb-2 mt-2">
            <a href="#" class="d-flex align-items-center text-dark text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                <img src="{% static 'actas/user.png'%}" alt="hugenerd" width="30" height="30" class="rounded-circle">
                <span class="mx-2 d-none d-md-inline"><strong>{{ request.user.username }}</strong></span>
            </a>
            <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
                <li><a class="dropdown-item" href="{% url 'logout' %}">Cerrar Sesión</a></li>
            </ul>
        </div>

        <ul class="nav nav-pills flex-column mb-auto mb-0 align-items-center align-items-sm-start" id="menu">

            <li class="nav-item h6">
                <a href="{% url 'diputaciones' %}" class="nav-link px-0 align-middle sideopt">
                    <div class="{% if url_name == 'diputaciones' %}active-sidebar-option{% endif %}">
                        <i class="fs-4" data-feather="file-text"></i>
                        <span class="ms-1 d-none d-md-inline">Diputaciones</span>
                    </div>
                </a>
            </li>

            <li class="nav-item h6">
                <a href="{% url 'ayuntamientos' %}" class="nav-link px-0 align-middle sideopt">
                    <div class="{% if url_name == 'ayuntamientos' %}active-sidebar-option{% endif %}">
                        <i class="fs-4" data-feather="file-text"></i>
                        <span class="ms-1 d-none d-md-inline">Ayuntamientos</span>
                    </div>
                </a>
            </li>

            <li class="nav-item h6">
                <a href="{% url 'gubernatura' %}" class="nav-link px-0 align-middle sideopt">
                    <div class="{% if url_name == 'gubernatura' %}active-sidebar-option{% endif %}">
                        <i class="fs-4" data-feather="file-text"></i>
                        <span class="ms-1 d-none d-md-inline">Gubernatura</span>
                    </div>
                </a>
            </li>
        </ul>

        <hr>
        
    </div>
</div>